nav {
    align-items: center;
    justify-content: space-between;
    padding: 0 $spacer;
    ul{
        background-color: $background-color;
        display: flex;
        list-style: none;
        width: fit-content;
        padding: 0 $spacer-half;
        border-radius: $spacer*1.25;
        li{ 
            padding: $spacer-half;
            a{
                font-family: $display-font;
                color: $object-color;
                @include respond-to ('small'){
                    font-size: larger;
                }
            }
        }
    }
}

.logo{
    padding: 2% 2%;
    width: 20%;
    @include respond-to ('small'){
        width: 15%;
    }
    @include respond-to ('medium'){
        width: 11%;
    }
    @include respond-to ('large'){
        padding: 1% 2%;
    }
}

.container {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    padding: 27% 0 12% 0;
    @include respond-to('small'){
        padding-top: 22%;
        width: 75%;
    }
    @include respond-to('medium'){
        padding-top: 15%;
    }
    h1 {
        width: 90%;
        padding: $spacer*2 0 $spacer 0;
        &:first-of-type{
            padding-top: 0;
        }
    }
    p, ul{
        width: 90%;
        padding-bottom: $spacer;
        line-height: 125%;
        @include respond-to('medium'){
            width: 75%;
        }
        @include respond-to('large'){
            width: 65%;
        }
    }
    ul {
        padding-left: $spacer;
    }
    animation: fadein 2s;
    @keyframes fadein {
        from {opacity: 0;}
        to {opacity: 1;}
    }
}

.footer {
    bottom: 0;
    justify-content: right;
    p{
        padding: $spacer-quarter $spacer-half;
        background-color: $background-color;
        font-size: smaller;
        color: #fff;
        border-radius: $spacer-quarter $spacer-quarter 0 0;
    }
}

nav, .footer {
    position: fixed;
    display: flex;
    width: 90%;
    z-index: 100;
    left: 50%;
    transform: translate(-50%,0);
  }

  .post-hero-image {
    padding-bottom: $spacer;
}