.post-hero-image{
    padding-bottom: $spacer;
}

@include respond-to('medium'){
    .post-grid{
        display: grid;
        column-gap: $spacer*2;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 5rem;
        :nth-child(n+4){
            grid-column: 1 / 3;
        }
    }
    .post-hero-image{
        grid-column: 1;
        grid-row: 1 / 3;
    }
}